body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
      h1 {
       color: green;
      }
      h2 {
        color: green;
       }
       h3 {
        color: green;
       }
}
