body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    --font-text-theme: Georgia, serif;

    --font-weight: 100;

    --background-modifier-border: none;

}

h1 {
  color: green;
 }
 h2 {
   color: green;
  }
  h3 {
   color: green;
  }