body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    --font-text-theme: Georgia, serif;

    --font-weight: 100;

    --background-modifier-border: none;

}

.markdown-preview-view .internal-embed img {
  cursor:zoom-in;}

.markdown-preview-view .internal-embed img:active {
  cursor:zoom-out;
  display:block;
  z-index:100;
  position:fixed;
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    object-fit: contain;
    margin:0 auto;
    text-align:center;
    top: 50%;
    transform: translateY(-50%);
    padding:0;
    left:0;
    right:0;
    bottom:0;
    background:var(--background-primary);}
